## Type Conversion

### all types to str

In [2]:
age = 32

In [4]:
type(age)

int

In [5]:
str(age)

'32'

In [6]:
type(age)

int

In [7]:
age = str(age)

In [8]:
type(age)

str

In [9]:
pi_number = 3.14
type(pi_number)

float

In [10]:
str(pi_number)

'3.14'

In [11]:
pi_number

3.14

In [12]:
str(True)

'True'

### str to int

In [13]:
age_1 = "33"
type(age_1)

str

In [14]:
int(age_1)

33

In [15]:
int("ahmet")

ValueError: invalid literal for int() with base 10: 'ahmet'

In [16]:
age_2 = "32"

In [17]:
age_2

'32'

In [18]:
int(age_2)
2024 - age_2

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [19]:
age_2 = int(age_2)
2024 - age_2

1992

### float to int, int to float

In [20]:
int(5.4)

5

In [21]:
int(5.9)

5

In [22]:
int(6.99999999)

6

In [23]:
float(5)

5.0

In [25]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

In [26]:
int("3.00")

ValueError: invalid literal for int() with base 10: '3.00'

In [27]:
float("3.14")

3.14

In [28]:
int(float("3.14"))

3

### bool to int , bool to float

In [29]:
True

True

In [30]:
False

False

In [31]:
int(True)

1

In [32]:
int(False)

0

In [33]:
float(True)

1.0

In [34]:
float(False)

0.0

# Aritmetic Operators

In [35]:
3+5

8

In [36]:
9-6

3

In [37]:
8 * 6

48

In [38]:
40 / 10

4.0

In [39]:
40 / 11

3.6363636363636362

In [40]:
40 // 10

4

In [41]:
40 // 11

3

In [42]:
40 % 11

7

In [43]:
48 // 5

9

In [44]:
48 % 5

3

In [45]:
102 // 12

8

In [46]:
102 % 12

6

In [47]:
5 ** 2

25

In [48]:
5 ** 3

125

In [49]:
pow(5,2)

25

In [51]:
25 ** (1/2)

5.0

In [52]:
125 **(1/3)

5.0

In [53]:
x = (4+2) ** (4 ** (1 *2/2)/2)
print(x)

36.0

In [54]:
x = (2 ** 3) * (5 * 2 + (2 *6 / 3))
print(x)

112.0

In [55]:
r = 7
pi = 3.14

alan = pi * r ** 2

In [57]:
print("Yari capi olan dairenin alani :",alan)

Yari capi olan dairenin alani : 153.86

In [58]:
r = 7
pi = 3.14
r = 5
alan = pi * r ** 2

In [59]:
alan

78.5

In [63]:
r = 9
pi = 3.14

alan = int(pi * r ** 2)

In [64]:
alan

254

In [66]:
a = 5
b = 12

In [79]:
hipo = (a**2 + b**2)**0.5

In [81]:
hipo

13.0

In [80]:
1/2

0.5

## print()

In [82]:
print("Techpor Education")

Techpor Education

In [83]:
course = "Techpor Education"

In [84]:
course

'Techpor Education'

In [85]:
print("Sedat", "Yasin","Furkan")

Sedat Yasin Furkan

In [86]:
print("Sedat",     "Yasin",     "Furkan")

Sedat Yasin Furkan

In [87]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [88]:
print("Sedat", "Yasin","Furkan", sep="*")

Sedat*Yasin*Furkan

In [89]:
print("Sedat", "Yasin","Furkan",sep="   ")

Sedat   Yasin   Furkan

In [90]:
print("Sedat", "Yasin","Furkan",sep="-")

Sedat-Yasin-Furkan

In [91]:
print("Sedat", "Yasin","Furkan",sep=" ")

Sedat Yasin Furkan

In [92]:
print("Sedat", "Yasin","Furkan" sep=" ")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4177542766.py, line 1)

In [93]:
print("Cenk")
print("Yunus")
print("Emrullah")

Cenk
Yunus
Emrullah

In [94]:
print("Cenk")
print("Yunus")
print("Emrullah")

Cenk
Yunus
Emrullah

In [95]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [96]:
print("Cenk", end="**")
print("Yunus")
print("Emrullah")

Cenk**Yunus
Emrullah

In [97]:
print("Munise", end="??")
print("Yusra")

Munise??Yusra

## f-string

In [98]:
r = 9
pi = 3.14

alan = pi * r ** 2

In [99]:
hipo = (a**2 + b**2)**0.5

In [101]:
print(f"bir kenari {a}  bir kenari {b} olan", hipo)

bir kenari 5  bir kenari 12 olan 13.0

## format

In [102]:

hipo = (a**2 + b**2)**0.5

In [103]:
a= 5
b = 10
print("a ile b nin toplami: {}".format(a + b))

a ile b nin toplami: 15

## input()

In [104]:
input("Lutfen yasinizi girin")

'25'

In [105]:
age = input("Lutfen yasinizi girin")

In [106]:
age

'32'

In [107]:
2024 - int(age)

1992

In [108]:
age_1 = int(input("lutfen yasinizi girin"))

In [109]:
age_1

32

In [110]:
age_2 = int(input("Lutfen yasinizi girin"))

ValueError: invalid literal for int() with base 10: 'otuz iki'

In [111]:
age_3 = int(input("Lutfen yasinizi girin. ornek:32"))

In [118]:
age_4 = int(input("Lutfen yasinizi giriniz"))
print(f"Your birth year is : { 2024-age_4}")

Your birth year is : 2021

In [126]:
weight = int(input("weight"))
height = int(input("height")) / 100  
bmi = weight / (height **2 )   
print(f"sizin bmi niz {bmi}")

sizin bmi niz 27.68166089965398