## pep8 kurallari

In [1]:
3+5

8

### comment

In [2]:
3 + 6 # 3 ile 6 nin toplamiidir

9

## Variables

In [3]:
print("Techpro education")

Techpro education

In [4]:
course = "Techpro education"

In [5]:
course

'Techpro education'

In [6]:
name = "Sedat"

In [7]:
print(name)

Sedat

In [8]:
age = 32

In [9]:
age

32

In [10]:
print(name,age)

Sedat 32

In [11]:
age2 = 32

In [12]:
name2="Sedat"

In [13]:
print(name2,age2)

Sedat 32

In [14]:
name3 = "sedat"

In [15]:
job= "data analyst"

In [19]:
print("isim:",name3,"meslegi:",job,)

isim: sedat meslegi: data analyst

In [23]:
print(age_1)
age_1 = 33

33

In [22]:
age_1 = 33

In [24]:
job_1 = "data scientist"
print(job_2)
job_2 = "data analyst"

NameError: name 'job_2' is not defined

In [26]:
print(job_3)

python developer

In [27]:
del job_3

In [28]:
job_3

NameError: name 'job_3' is not defined

In [31]:
name_1 = "Arzu"
name_2 = "Omer"

In [32]:
print(name_1,name_2)

Arzu Omer

In [33]:
name-3 = "Hakan"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3062450454.py, line 1)

In [34]:
4_name = "Yasin"

SyntaxError: invalid decimal literal (2608851060.py, line 1)

In [35]:
$name = "Yunus"

SyntaxError: invalid syntax (914308211.py, line 1)

In [36]:
Name_5 = "Hamdi"

In [37]:
print=(name_5)

NameError: name 'name_5' is not defined

In [38]:
print(Name_5)

Hamdi

In [39]:
name_6 = "Cenk"
name_7 = "Rabia"
age_1 = 25
age_2 = 24

In [40]:
print(name_6,name_7,age_1,age_2)

Cenk Rabia 25 24

In [41]:
name_8, name_9 = "Ramiz", "Serife"

In [42]:
print(name_8)
print(name_9)

Ramiz
Serife

In [43]:
name_8, name_9, name_10 = "Ramiz", "Serife"

ValueError: not enough values to unpack (expected 3, got 2)

In [44]:
name_11, name_12 = "kasim","kasim"

In [45]:
name_11

'kasim'

In [46]:
name_12

'kasim'

In [47]:
name_13, name_14 = "hakan, Yunus"

ValueError: too many values to unpack (expected 2)

In [50]:
name_15 = name_16 = "Arzu"

In [51]:
name_16

'Arzu'

In [52]:
jan = mar = may = jul = aug = oct = dec =31
feb = 28
apr = jun = sep = nov = 30

In [54]:
apr , jun , sep , nov = 30, 30 ,30, 30

## Data Types

In [55]:
"hello world" # string, str

'hello world'

In [56]:
"35" # string

'35'

In [57]:
type("hello world")

str

In [58]:
type("35")

str

In [59]:
"435gkgsduycs?]"

'435gkgsduycs?]'

In [60]:
name

'Sedat'

In [61]:
type(name)

str

In [62]:
35 # integer

35

In [63]:
type(35)

int

In [65]:
negative_number = -35

In [66]:
type(negative_number)

int

In [67]:
3.14 #float

3.14

In [68]:
type(3.14)

float

In [69]:
pi_number = 3.14

In [70]:
type(pi_number)

float

In [71]:
pi_number_2 = 3,14

In [72]:
type(pi_number_2)

tuple

In [73]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

In [74]:
10000000

10000000

## boolean

In [76]:
type(False)

bool

In [77]:
type(True)

bool

In [80]:
type(true)

NameError: name 'true' is not defined

In [82]:
araba_modeli = "Toyota"
arabanin_yasi = 5
arabanin_km = 64477.9
arbanin_kazasi = True

In [83]:
type(araba_modeli)

str

In [84]:
type(arabanin_yasi)

int

In [85]:
type(arabanin_km)

float

In [87]:
type(arbanin_kazasi)

bool

In [89]:
del name_11

In [90]:
name_11

NameError: name 'name_11' is not defined

In [91]:
print(araba_modeli)
print(arabanin_yasi)

Toyota
5