# Arbitary nNumber of Arguments

## kwargs

In [2]:
dict_1 = {"name1":"Arzu","name2":"Omer","name3":"Hamdi"}
dict_1

{'name1': 'Arzu', 'name2': 'Omer', 'name3': 'Hamdi'}

In [7]:
def kwargs_function(** names):

    for i, j in names.items():
        print(f"key:{i}, vaalue: {j}")

In [8]:
kwargs_function("sedat")

TypeError: kwargs_function() takes 0 positional arguments but 1 was given

In [9]:
kwargs_function(name4="Berk",name5="Ramazan")

key:name4, vaalue: Berk
key:name5, vaalue: Ramazan

In [4]:
dict_1.items()

dict_items([('name1', 'Arzu'), ('name2', 'Omer'), ('name3', 'Hamdi')])

In [10]:
kwargs_function(name4="Berk",name5="Ramazan", name6="Yasin")

key:name4, vaalue: Berk
key:name5, vaalue: Ramazan
key:name6, vaalue: Yasin

In [11]:
kwargs_function(dict_1)

TypeError: kwargs_function() takes 0 positional arguments but 1 was given

In [13]:
kwargs_function(**dict_1)

key:name1, vaalue: Arzu
key:name2, vaalue: Omer
key:name3, vaalue: Hamdi

## filter

In [14]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [15]:
filter(None,"Hello")

In [16]:
list(filter(None,"Hello"))

['H', 'e', 'l', 'l', 'o']

In [18]:
filter(None, [1,2,0,True," ",0.0,"Techpro"])

In [20]:
list(filter(None, [1,2,0,True,"",0.0,"Techpro"]))

[1, 2, True, 'Techpro']

In [21]:
def find_odds(x):

    if x % 2 ==1:
        return True
    else:
        return False

In [22]:
find_odds(5)

True

In [23]:
find_odds(4)

False

In [24]:
list(filter(find_odds,[1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [26]:
def find_evens(x):

    if x % 2 ==1:
        return False
    
    else:
        return True

In [27]:
list(filter(find_evens,[1,2,3,4,5,6,7,8,9]))

[2, 4, 6, 8]

In [37]:
isimler_listesi = ["Serhat","sedat","Metehan","cennet","Bilge"]

bes_harliler = 0

def bes_harfli(* isimler):
    for i in isimler_listesi:
        if len(i) % 5 == 0:
            bes_harliler.add(i)

            return bes_harliler

In [38]:
bes_harliler

0

In [43]:
def len_5(x):

    if len(x) == 5: 
        return True

In [44]:
list(filter(len_5, isimler_listesi))

['sedat', 'Bilge']

## lampda()

In [45]:
def kareler_toplami(x, y):
    return x**2 +y**2

In [47]:
kareler_toplami(4,3)

25

In [48]:
lambda x ,y: x**2 + y**2

In [49]:
(lambda x ,y: x**2 + y**2)(4, 3)

25

In [50]:
(lambda x ,y: x**2 + y**2)(4)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [51]:
def len_5(x):
    
    if len(x) == 5:
        return True

In [53]:
(lambda x: len(x) == 5)("Didem")

True

In [54]:
list(filter((lambda x: len(x) == 5),isimler_listesi))

['sedat', 'Bilge']

In [58]:
list(filter((lambda x: x % 2==1),[1,2,3,4,5]))

[1, 3, 5]

In [62]:
tek_sayi_ayiklayici = (lambda x: x % 2==1)

In [64]:
tek_sayi_ayiklayici(8)

False

In [65]:
tek_sayi_ayiklayici(8,9)

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [77]:
def polidrom(x):
    for i in polidrom:
        i == i[::-1]
        return i

In [76]:
polidrom(nazan)

NameError: name 'nazan' is not defined

In [81]:
list(filter(lambda x: x == x[::-1]))

TypeError: filter expected 2 arguments, got 1

In [83]:
print("nazan")
print("nazan"[::-1])

nazan
nazan

In [84]:
"nazan"== "nazan"[::-1]

True

In [85]:
lambda x: x.lower() == x[::-1].lower()

In [86]:
(lambda x: x.lower() == x[::-1].lower())("nazan")

True

In [88]:
(lambda x: x.lower() == x[::-1].lower())("Neveroddoreven")

True

In [94]:
import pandas as pd

In [95]:
df = pd.read_csv("adult.data.csv.zip")

In [96]:
df

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [99]:
df.sex

AttributeError: 'DataFrame' object has no attribute 'sex'

In [101]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)

AttributeError: 'DataFrame' object has no attribute 'sex'