# Positional and Keyword Arguments

In [4]:
def say_my_name(first_name,last_name):

    print(f"My name is {first_name} {last_name}")

In [5]:
say_my_name("sedat","Aslan")

My name is sedat Aslan

In [6]:
say_my_name("Aslan","Sedat")

My name is Aslan Sedat

In [7]:
say_my_name(last_name="Aslan",first_name="Sedat")

My name is Sedat Aslan

In [8]:
say_my_name("Sedat")

TypeError: say_my_name() missing 1 required positional argument: 'last_name'

In [10]:
def your_name(first_name, last_name = "Yavuz"):

    print(f"Yor name is {first_name} {last_name}")

In [11]:
your_name("sedat","Aslan")

Yor name is sedat Aslan

In [12]:
your_name("sedat")

Yor name is sedat Yavuz

In [13]:
your_name(last_name="aslan",sedat)

SyntaxError: positional argument follows keyword argument (1879815083.py, line 1)

In [17]:
def your_name_2(first_name, second_name ="Ali",last_name):
    print(f"Your name is {first_name} {second_name} {last_name}")

SyntaxError: parameter without a default follows parameter with a default (4241085419.py, line 1)

In [18]:
def your_name_2(first_name, last_name,second_name ="Ali"):
    print(f"Your name is {first_name} {second_name} {last_name}")

In [19]:
your_name_2("Hamdi","Cakici", "Ferdi")

Your name is Hamdi Ferdi Cakici

In [20]:
your_name_2("Hamdi","Cakici")

Your name is Hamdi Ali Cakici

In [21]:
your_name_2("Hamdi","Cakici", 2 )

Your name is Hamdi 2 Cakici

In [22]:
def tek_sayilar(a,b,c,d,e):

    tek_sayilar = []

    for i in a,b,c,d,e:

        if i % 2 == 1:
            tek_sayilar.append(i)

    return tek_sayilar

In [24]:
tek_sayilar(4,5,15,26,29)

[5, 15, 29]

In [25]:
tek_sayilar(4,5,15,26,)

TypeError: tek_sayilar() missing 1 required positional argument: 'e'

In [26]:
tek_sayilar(4,5,15,26,29,58)

TypeError: tek_sayilar() takes 5 positional arguments but 6 were given

In [27]:
tek_sayilar(4,5,15)

TypeError: tek_sayilar() missing 2 required positional arguments: 'd' and 'e'

In [28]:
def tek_sayilar_2(a,b,c,d=15,e=18):

    tek_sayilar = []

    for i in a,b,c,d,e:

        if i % 2 == 1:
            tek_sayilar.append(i)

    return tek_sayilar

In [29]:
tek_sayilar_2(10,17,25)

[17, 25, 15]

In [31]:
def tek_sayilar_3(a:int,b:int,c:int,d=15,e=18.0):

    tek_sayilar = []

    for i in a,b,c,d,e:

        if i % 2 == 1:
            tek_sayilar.append(i)

    return tek_sayilar

In [33]:
tek_sayilar_3(5.0, 7, 8)

[5.0, 7, 15]

In [34]:
tek_sayilar_3("5.0", 7, 8)

TypeError: not all arguments converted during string formatting

In [35]:
def tek_sayilar_4(a:int,b:str,c:int,d=15,e=18.0):

    tek_sayilar = []

    for i in a,b,c,d,e:

        if i % 2 == 1:
            tek_sayilar.append(i)

    return tek_sayilar

In [36]:
tek_sayilar_4(1,2,3,4,5)

[1, 3, 5]

# Arbitary Number of Arguments(* args, ** kwargs)

In [39]:
def cift_sayilar(* sayilar):

    evens= []

    for i in sayilar:

        if i % 2 == 0:
            evens.append(i)

    return evens

In [40]:
cift_sayilar()

[]

In [41]:
cift_sayilar(15,20,25,30)

[20, 30]

In [42]:
cift_sayilar(1,2,3,4,5,6,7,8,9)

[2, 4, 6, 8]

In [43]:
sayilar

NameError: name 'sayilar' is not defined

In [45]:
evens

NameError: name 'evens' is not defined

In [53]:
def a_ile_baslayanlar(* isimler):

    a_names = []

    for i in isimler:

        if i.startswith("a"):

            a_names.append(i)

    return a_names

In [56]:
a_ile_baslayanlar("ferdi","aslan","bahar","ahmet","arda","dilay")

['aslan', 'ahmet', 'arda']

In [57]:
a_ile_baslayanlar("ferdi","aslan","bahar","ahmet","arda","dilay",15)

AttributeError: 'int' object has no attribute 'startswith'

In [80]:
def tek_cift(* sayilar):

    odds_evens= []

    for i in sayilar:

        if i % 2 == 0:
            odds_evens.append(i * 2)

        else:
            odds_evens.append(i** 2)

    return odds_evens

In [82]:
tek_cift(5,6,7,8,9,10,12,14,15)

[25, 12, 49, 16, 81, 20, 24, 28, 225]

In [83]:
tek_cift(2,8,2,7)

[4, 16, 4, 49]

In [85]:
tek_cift(range(5,15))

TypeError: unsupported operand type(s) for %: 'range' and 'int'

In [86]:
tek_cift(*range(1,15))

[1, 4, 9, 8, 25, 12, 49, 16, 81, 20, 121, 24, 169, 28]

In [87]:
(*list(range(5,15))

SyntaxError: incomplete input (3241149885.py, line 1)

In [89]:
print(*list(range(5,15)))

5 6 7 8 9 10 11 12 13 14

In [91]:
print(* "sedat")

s e d a t

In [92]:
liste = [1,2,3,4,5]

In [93]:
tek_cift(* liste)

[1, 4, 9, 8, 25]

In [102]:
def isSuperFamily(anne, baba, cocuk):

    anne = anne.lower()
    baba = baba.lower()
    cocuk = cocuk.lower()

    cocuk_sessiz_harfler = ""

    for i in cocuk:
        if i not in "aioue":
            cocuk_sessiz_harfler += i

    if len(set(anne) & set(cocuk_sessiz_harfler)) > 0 and len(set(baba) & set(cocuk_sessiz_harfler)) > 0 and set(cocuk_sessiz_harfler).issubset(set(anne) | set(baba)):
        print("Bu aile super ailedir")
    else:
        print("NU aile super aile degildir.")

In [103]:
isSuperFamily("halil","merve","veli")

Bu aile super ailedir

In [1]:
isSuperFamily("murat","Songul","mert")

NameError: name 'isSuperFamily' is not defined