In [1]:
dict_1 = {"name":"Hakan","age":32,"job":"datascientist"}
dict_1

{'name': 'Hakan', 'age': 32, 'job': 'datascientist'}

In [2]:
for i in dict_1:
    print(i)

name
age
job

In [3]:
dict_1.items()

dict_items([('name', 'Hakan'), ('age', 32), ('job', 'datascientist')])

In [4]:
for i in dict_1.items():
    print(i)

('name', 'Hakan')
('age', 32)
('job', 'datascientist')

In [5]:
for i in dict_1.values():
    print(i)

Hakan
32
datascientist

In [11]:
for i, j in dict_1.items():
    print(f"keys: {i},values: {j}")

keys: name,values: Hakan
keys: age,values: 32
keys: job,values: datascientist

In [15]:
for i, j in dict_1.items():
    print(f"keys: {i:<4},values: {j}")

keys: name,values: Hakan
keys: age ,values: 32
keys: job ,values: datascientist

In [16]:
for i, j in dict_1.items():
    print(f"keys: {i:>8},values: {j}")

keys:     name,values: Hakan
keys:      age,values: 32
keys:      job,values: datascientist

In [17]:
for i, j in dict_1.items():
    print(f"keys: {i:>8},values: {j:}")

keys:     name,values: Hakan
keys:      age,values: 32
keys:      job,values: datascientist

In [18]:
"techpro".center(20)

'      techpro       '

In [19]:
"techpro".ljust(20)

'techpro             '

In [20]:
"techpro".rjust(20)

'             techpro'

In [ ]:
liste_2 = ["sonsua gidermi deneyelim"]
for i in liste_2:
    print(i)
    liste_2.append("sonsua gidermi deneyelim")

sonsua gidermi deneyelim

In [44]:
print(list(range(1,51)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [26]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [42]:
toplam = 0

x = 1

while x <= 50:

    toplam += x
    x += 1

print(toplam)

1275

In [45]:
toplam = 0

for i in range(1,51):
    toplam += i

print(toplam)

1275

In [46]:
sum([1,2,3,4,5])

15

In [47]:
sum(range(1,51))

1275

In [48]:
sum("s","b")

TypeError: sum() can't sum strings [use ''.join(seq) instead]

In [49]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [50]:
sum([True,False])

1

In [51]:
sum([1,2,3,4,5],100)

115

In [52]:
cift_sayilar = 0

for i in range(1,51):
    if i % 2 == 0:
        cift_sayilar +=i
print(cift_sayilar)

650

In [53]:
sum(range(0,51,2))

650

## break, continue

In [54]:
liste_3 = [1,2,3,4,5]
liste_3

[1, 2, 3, 4, 5]

In [ ]:
for i in liste_3:

    if i % 3 == 0:
        break

    print(i ** 2)

1
4

In [59]:
for i in liste_3:

    if i % 3 == 0:
        continue

    print(i ** 2)

1
4
16
25

In [61]:
toplam = 0

for i in range(1,51):
    if i % 2 == 1:
        continue
        
    toplam += i

print(toplam)

650

## zip()

In [62]:
a = ["apple","orange","lemon"]
b = [1,2,3]

In [63]:
zip(a,b)

In [64]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [65]:
tuple(zip(a,b))

(('apple', 1), ('orange', 2), ('lemon', 3))

In [66]:
tuple(zip(b,a))

((1, 'apple'), (2, 'orange'), (3, 'lemon'))

In [68]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [69]:
set(zip(a,b))

{('apple', 1), ('lemon', 3), ('orange', 2)}

In [73]:
x = "techpro"
y = "Yasin"
z = "Arzu"

In [74]:
list(zip(x,y,z))

[('t', 'Y', 'A'), ('e', 'a', 'r'), ('c', 's', 'z'), ('h', 'i', 'u')]

In [75]:
name = ["Ferdi","Ali","Dilay"]
age = [35,25,26]
job = ("datascientist","dataanalist","pythondevelopment")

In [76]:
list(zip(name,age,job))

[('Ferdi', 35, 'datascientist'),
 ('Ali', 25, 'dataanalist'),
 ('Dilay', 26, 'pythondevelopment')]

In [77]:
meyveler = ["apple","orange","apple"]
adet = [1,2,3]

In [78]:
dict(zip(meyveler,adet))

{'apple': 3, 'orange': 2}

In [79]:
list(zip(meyveler,adet))

[('apple', 1), ('orange', 2), ('apple', 3)]

In [82]:
for i, j, k in zip(name,age,job):
    print(f"name : {i}, age: {j}, job: {k}")

name : Ferdi, age: 35, job: datascientist
name : Ali, age: 25, job: dataanalist
name : Dilay, age: 26, job: pythondevelopment