In [1]:
s1 = "sari"
s2 = "mehmet"

In [2]:
s1 + s2

'sarimehmet'

In [5]:
s1[1::]

'ari'

In [6]:
s1[:2]

'sa'

In [7]:
s1[2:]

'ri'

In [8]:
s1[:len(s1) // 2]

'sa'

In [9]:
s1[len(s1) // 2:]

'ri'

In [10]:
len(s1) // 2

2

In [11]:
len(s1) / 2

2.0

In [15]:
s3 = s1[:len(s1)//2] + s2 +s1[len(s1)//2:]
s3

'samehmetri'

In [20]:
s4 = "yesil"

In [21]:
s5 = s4[:len(s4)//2] + s2 +s4[len(s4)//2:]
s5

'yemehmetsil'

In [23]:
s5 = s4[:len(s4)//2 +1] + s2 +s4[len(s4)//2+1:]
s5

'yesmehmetil'

In [24]:
a = "BESacademy"

In [25]:
a[:3]

'BES'

In [26]:
a[-3:]

'emy'

In [29]:
company = input("enter the your company")

if len(company) >= 3:
    print(company[:3] + company[-3:] )
else:
    print("empty str")

empty str

In [31]:
str_x = "Mr.Bean is good actor and Mr.Bean is very funny."

a =str_x.count("Mr.Bean")

In [32]:
print(f"Mr.Bean appeared {a} times.")

Mr.Bean appeared 2 times.

In [34]:
print("Mr.Bean appeared {} times.".format(a))

Mr.Bean appeared 2 times.

In [41]:
per = input("Please enter your name,age and job separating them with comma").split(",")

print("name",per[0])
print("age",per[1])
print("job",per[2])

name sedat
age 30
job data

In [36]:
score = "90,99,100,85,92"
score.split(",")

['90', '99', '100', '85', '92']

In [42]:
print("my name is sedat")

my name is sedat

In [43]:
per = input("Please enter your name,age and job separating them with comma").split(",")

print(f"name: {per[0]} age {per[1]} job {per[2]}")

IndexError: list index out of range

In [45]:
work_hours = int(input("enter weekly working hour"))
hourly_wage = int(input("enter your hourly age"))

if work_hours > 40 :
    weekly_wage = (work_hours - 40) * (1.5 * hourly_wage) + 40 * hourly_wage
else:
    weekly_wage = work_hours * hourly_wage

print(f"Your weekly wage is {weekly_wage}")

Your weekly wage is 1200

In [51]:
x = int(input("enter a number"))
y = int(input("enter a number"))

if x == y or abs(x-y) % 5== 0:
    print("True")
else:
    print("False")

False

In [1]:
def sum(a , b):
    return a+b

In [6]:
x = int(input("Please enter a number"))

sum_i = 0

for i in range(1,x):
    if x % i == 0:
        sum_i += i

sum_j = 0
for j in range(1,sum_i):
    if sum_i  % j ==0:
        sum_j += j

if x == sum_j:
    print(f"{x} and {sum_j} are amicable numbers")
else:
    print("{x} is lonely number")

1184 and 1184 are amicable numbers

In [10]:
def num_split(num):
    
    count= 0
    result= []
    for i in str(abs(num))[::-1]:
        result.append(int(i)*10**count)
        count += 1

    result_2 =[]
    if num < 0:
        for i in result[::-1]:
            result_2.append(-i)
        else:
            result_2 = result_2[::-1]    

    return result_2[::-1]

num_split(-153)

[-100, -50, -3]

In [15]:
num = input("sayi girin")
armstrong_sayi = 0

for i in num:
    armstrong_sayi += int(i) ** len(num)

print(armstrong_sayi)

153

In [18]:
#random_num = 55
import random

random_num = random.randint(0,99)

guess_count = 0
while True:


    guess = int(input("Enter a number between 0-99"))

    if guess < random_num:
        print("Enter a higher number")
        guess_count += 1

    elif guess > random_num:
        print("Enter a lowest number")
        guess_count += 1

    else:
        print("Congrats")
        guess_count += 1
        break

    print(guess_count)

Enter a lowest number
1
Enter a lowest number
2
Enter a lowest number
3
Enter a lowest number
4
Enter a higher number
5
Enter a higher number
6
Enter a higher number
7
Enter a higher number
8
Enter a higher number
9
Enter a higher number
10
Enter a higher number
11

ValueError: invalid literal for int() with base 10: ''

In [25]:
num = int(input("Sayi girin"))
total = 0
for i in range(1,num):
    if num % i == 0:
        total += i
        if num == total:
            print(f"Perfect number {num}")
        else:
            print("not perfect")

not perfect
not perfect
Perfect number 6

In [42]:
cumle = (input("Cumle girin")).lower()

if cumle.isalpha():

    if cumle == cumle[::-1]:
        print(f"palindromdur {cumle}")
    else:
        print("Polindrom degildir")
else:
    print("cumle girin")

cumle girin

In [48]:
sentence = input("enter a sentence")
edit_sentence ="".join(i.lower() for i in sentence if i.isalpha())
if edit_sentence == edit_sentence[::-1]:
    print(f"{sentence} is palindrom")
else:
    print(f"{sentence} is not polindrom")

popoo is not polindrom

In [46]:
"".join(i.lower() for i in "abc12" if i.isalpha())

'abc'

In [ ]:
y = input("enter a number")

asal_sayi = []

for i in y:

    if int(i) > 1:
        if int(i) % 2 == 1 and int(i) % 3 == 1:
            asal_sayi.append((i))
            print(f"{i} asal sayidir")
        else:
            print(f"{i} asal sayi degil")  
    else:
        print("asal sayi degil")

5 asal sayi degil

In [79]:
y = input("enter a number")

asal_sayi = []

if int(y) > 1:
    if int(y) % 2 == 1 and int(y) % 3 == 1:
        asal_sayi.append((y))
        print(f"{y} asal sayidir")
    else:
        print(f"{y} asal sayi degil")  
else:
    print("asal sayi degil")

asal sayi degil

In [82]:
num_1 = int(input("enter first number"))
num_2 = int(input("enter second number"))

i = 1

while (i <= num_1 and i < num_2):
    if (num_1 % i == 0 and num_2 % i == 0):
        gcd = i
    i += 1  

print(f"GCD is {gcd}")

GCD is 4

In [88]:
sentence = input("enter a sentence")

my_list=[]
for i in sentence:
    if i.isalpha():
        my_list.append(i)
result = []
for i in range(len(my_list)):
    if (my_list[i],my_list.count(my_list[i])) not in result:
        result.append(my_list[i],my_list.count(my_list[i]))

print(result)
    


    #print(my_list[i],my_list.count(my_list(i))

TypeError: list.append() takes exactly one argument (2 given)

In [91]:
sentence = input("Enter a sentence")

my_dict = dict()

for i in sentence:
    if i.isalpha():
        if i in my_dict:
            my_dict[i] +=1
        else:
            my_dict[i] = 1   
print(my_dict)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [96]:
def intertwined(list1,list2):

    new_list = []
    for i in list2:
        for j in list1:
            if j in i and j not in new_list:
                new_list.append(j)
    return new_list

intertwined(["old","int","age","and"],["random","soldier","list","print"])

['and', 'old', 'int']

In [101]:
def asc(list1):

    odd=[]
    for i in list1:
        if i % 2 == 1:
            odd.append(i)
            odd = sorted(odd)

    k = 0
    result =[]
    for i in list1:
        if i % 2 ==1:
            result.append(odd[k])
            k += 1
        else:
            result.append(i)
    return result                    

    #return odd   

asc([5,8,6,3,4])

[3, 8, 6, 5, 4]

In [103]:
list1 = [("John",1),("Jade",2),("lisa",3),("Rose",4),("Loise",0)]

list1[0][0]

'John'

In [104]:
result =[]

for i in range(len(list1)):
    for j in list1:
        if j[1]== i:
            result.append(j)
print(result)

[('Loise', 0), ('John', 1), ('Jade', 2), ('lisa', 3), ('Rose', 4)]

In [106]:
x = lambda a, b=2 : a * b

print((x(5)))

10

In [107]:
sorted(list1)

[('Jade', 2), ('John', 1), ('Loise', 0), ('Rose', 4), ('lisa', 3)]

In [108]:
sorted(list1,key = lambda x : x[1])

[('Loise', 0), ('John', 1), ('Jade', 2), ('lisa', 3), ('Rose', 4)]