In [1]:
s1 = "sari"
s2 = "mehmet"

In [2]:
s1 + s2

'sarimehmet'

In [5]:
s1[1::]

'ari'

In [6]:
s1[:2]

'sa'

In [7]:
s1[2:]

'ri'

In [8]:
s1[:len(s1) // 2]

'sa'

In [9]:
s1[len(s1) // 2:]

'ri'

In [10]:
len(s1) // 2

2

In [11]:
len(s1) / 2

2.0

In [15]:
s3 = s1[:len(s1)//2] + s2 +s1[len(s1)//2:]
s3

'samehmetri'

In [20]:
s4 = "yesil"

In [21]:
s5 = s4[:len(s4)//2] + s2 +s4[len(s4)//2:]
s5

'yemehmetsil'

In [23]:
s5 = s4[:len(s4)//2 +1] + s2 +s4[len(s4)//2+1:]
s5

'yesmehmetil'

In [24]:
a = "BESacademy"

In [25]:
a[:3]

'BES'

In [26]:
a[-3:]

'emy'

In [29]:
company = input("enter the your company")

if len(company) >= 3:
    print(company[:3] + company[-3:] )
else:
    print("empty str")

empty str

In [31]:
str_x = "Mr.Bean is good actor and Mr.Bean is very funny."

a =str_x.count("Mr.Bean")

In [32]:
print(f"Mr.Bean appeared {a} times.")

Mr.Bean appeared 2 times.

In [34]:
print("Mr.Bean appeared {} times.".format(a))

Mr.Bean appeared 2 times.

In [41]:
per = input("Please enter your name,age and job separating them with comma").split(",")

print("name",per[0])
print("age",per[1])
print("job",per[2])

name sedat
age 30
job data

In [36]:
score = "90,99,100,85,92"
score.split(",")

['90', '99', '100', '85', '92']

In [42]:
print("my name is sedat")

my name is sedat

In [43]:
per = input("Please enter your name,age and job separating them with comma").split(",")

print(f"name: {per[0]} age {per[1]} job {per[2]}")

IndexError: list index out of range

In [45]:
work_hours = int(input("enter weekly working hour"))
hourly_wage = int(input("enter your hourly age"))

if work_hours > 40 :
    weekly_wage = (work_hours - 40) * (1.5 * hourly_wage) + 40 * hourly_wage
else:
    weekly_wage = work_hours * hourly_wage

print(f"Your weekly wage is {weekly_wage}")

Your weekly wage is 1200

In [51]:
x = int(input("enter a number"))
y = int(input("enter a number"))

if x == y or abs(x-y) % 5== 0:
    print("True")
else:
    print("False")

False

In [12]:
x = input("sayi girin")
y = input("sayi girin")

if x.isnumeric() and y.isnumeric:
    print( int(x) + int(y))
else:
    print ("you have not entered number")

ValueError: invalid literal for int() with base 10: 'g'

In [ ]:
country = input("enter country")
area = input("enter the area of the country")
earth = 148940000

percentile = round((int(area) / earth) * 100 ,2)

print(f"{country} is {percentile}  of the world landmass")

turkiye is 0.5274305089297704  of the world landmass

In [20]:
weight = input("kilo girin")
height = input("boy girin")

bmi = int(weight) / (int(height)/100 **2)

if bmi < 18.5 :
    print("underweight")
elif bmi < 24.9:
    print("normal")
elif bmi < 29.9:
    print("overweight")
elif bmi < 34.9:
    print("obese")
else:
    print("extreme obese")

extreme obese

In [26]:
given_str = "My phone number is (111) 222-33-44"

output = ""

for i in given_str:

    if i in "0123456789":
        output += i

print(output)

1112223344

In [29]:
note = int(input("notunuzu girin"))

if note < 49:
    print("F")
elif note < 54:
    print("D")
elif note < 64:
    print("C")
elif note < 79:
    print("B")
else:
    print("A")

B

In [ ]:
word = input("Enter a word").lower()
result = []

for i in range(len(word)):
    result.append(word[:i] + word[i].upper() + word[i+1:])

print(result)

['Ankara', 'aNkara', 'anKara', 'ankAra', 'ankaRa', 'ankarA']

In [32]:
x = input("enter a word")

dict_1 = {}

for i in range(len(x)):
    dict_1[i] =x[i]

print(dict_1)

{0: 'B', 1: 'E', 2: 'S', 3: 'a', 4: 'c', 5: 'a', 6: 'd', 7: 'e', 8: 'm', 9: 'y'}

In [33]:
list(enumerate("BESacademy"))

[(0, 'B'),
 (1, 'E'),
 (2, 'S'),
 (3, 'a'),
 (4, 'c'),
 (5, 'a'),
 (6, 'd'),
 (7, 'e'),
 (8, 'm'),
 (9, 'y')]

In [34]:
dict(enumerate("BESacademy"))

{0: 'B',
 1: 'E',
 2: 'S',
 3: 'a',
 4: 'c',
 5: 'a',
 6: 'd',
 7: 'e',
 8: 'm',
 9: 'y'}

In [1]:
def sum(a, b):
    return a+b

In [4]:
sayi = int(input("Bir sayi girin"))

for i in range(11):
    print(i * sayi )

0
5
10
15
20
25
30
35
40
45
50

In [5]:
a = input("sayi girin")

if a.isdigit():
    if int(a) in [0,1,2,3,4,5,6,7,8,9]:
        result = int(a) + int(a*2) + (a*3)
    else:
        result="make sure you enter figure"
else:
    result="make sure you enter figure"

print(result)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
text = "restart"
new_text = text[0]

for i in range(1,len(text)):
    if text[i] == text[0]:
        new_text += "?"
    else:
        new_text += text[i]

print(new_text)

resta?t

In [8]:
x = input("enter a word")

x_new = x.replace(x[0],"?")[1:]
print(x_new)
print(x[0]+x_new)

esta?t
resta?t

In [14]:
ciftler = []
tekler = []

for i in range(1,51):
    

    if i % 2 == 0:
        ciftler.append(i)
    else:
        tekler.append(i) 

print(tekler)
print(ciftler)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [17]:
tekler=[ i for i in range(1,51) if i % 2== 1]
ciftler=[ i for i in range(1,51) if i % 2== 0]
print(tekler)
print(ciftler)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [29]:
sayi_1 = int(input("sayi girin"))
sayi_2 = int(input("sayi girin"))
aralik=[]

if sayi_1 < sayi_2:
    for i in range(sayi_1,sayi_2+1):
        aralik.append(i)
elif sayi_2 < sayi_1:
    for i in range(sayi_2,sayi_1 + 1):
        aralik.append(i)
        


print(aralik)

[]

In [48]:
name = "My name is Emirhan and I'm 29 years old"

word_list = name.split(" ")
#print(word_list)

n = len(word_list) -1

while n >= 0:
    print(word_list[n],end= " ")
    n -= 1

old years 29 I'm and Emirhan is name My

In [43]:
name_2="My name is Emirhan and I'm 29 years old"[::-1]

In [50]:
name = "My name is Emirhan and I'm 29 years old"

word_list = name.split(" ")

print(*word_list[::-1])

old years 29 I'm and Emirhan is name My

In [56]:
name = "My name is Emirhan and I'm 29 years old"

word_list = name.split(" ")

New_name = []

for i in word_list:
    New_name.append(i[::-1])
print(New_name)

['yM', 'eman', 'si', 'nahrimE', 'dna', "m'I", '92', 'sraey', 'dlo']

In [ ]:
out_square = (2*r) **2

In [ ]:
inn_square = (r ** 2) * 2

In [58]:
r = int(input("please enter r value"))

diff_square = ((2*r) **2) - ((r ** 2) * 2)

print(f"the difference is {diff_square}")

the difference is 72

In [59]:
for i in range(1,51):
    if i % 3 == 0 and i % 7 == 0:
        print("BIgBang")
    elif i % 3 == 0:
        print("Big") 
    elif i % 7 == 0:
        print("Bang") 
    else:
        print(i)

1
2
Big
4
5
Big
Bang
8
Big
10
11
Big
13
Bang
Big
16
17
Big
19
20
BIgBang
22
23
Big
25
26
Big
Bang
29
Big
31
32
Big
34
Bang
Big
37
38
Big
40
41
BIgBang
43
44
Big
46
47
Big
Bang
50

In [71]:
isim = input("Lutfen isminizi girin").lower()
kalin_unlu = 0
ince_unlu = 0

for i in isim:
    if i in "aou":
        kalin_unlu +=1
    elif i in "ei":
        ince_unlu +=1

print(f"kalin unlu sayisi:{kalin_unlu}")
print(f"ince unlu sayisi:{ince_unlu}")   

if kalin_unlu >0 or ince_unlu>0:

    if kalin_unlu + ince_unlu == 1:
        sonuc = "Buyuk unlu uyumu aranmaz"
    elif kalin_unlu * ince_unlu == 0:
        sonuc = "Buyuk unlu uyumuna uyar"
    else:
        sonuc="Buyuk unlu uyumuna uymaz"        
else:
    print("sesli harf yok")
print(sonuc)

kalin unlu sayisi:1
ince unlu sayisi:1
Buyuk unlu uyumuna uymaz

In [73]:
x = input("Enter anumber")

result = ""

if x.isdigit():
    for i in x:
        if int(i) < 3:
            result += str(int(i) ** 2)
        elif int(i) % 2 == 1:
            result += str(int(i) -2) 
        else:
            result += str(int(i) +1)       
else:
    print("Invalid input")

print(result)

14153